{% extends "base.html" %}

{% block content %}

<section class="vh-100" style="background-color: #4B515D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center text-warning display-6">
        Created Using Python-Django FrameWork!
      </div>

      <form method="post" action="/" class="col-md">
        {% csrf_token %}
        <div class=" input-group py-5">
  
        <input type="text" class="form-control" name="city" placeholder="Choose Your City ...">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-warning">Search Now</button>
        </div>
        </div>
        <form>
  
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">
  
          <div class="card" style="color: #4B515D; border-radius: 35px;">
            <div class="card-body p-4">
  
              <div class="d-flex">
                <h6 class="flex-grow-1">{{city}}</h6>
                <h6>{{country_code}}</h6> 
              </div>
  
              <div class="d-flex flex-column text-center mt-5 mb-4">
                <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{temp}} </h6>
                <span class="small" style="color: #868B94">Condition: {{main}}</span>
              </div>
  
              <div class="d-flex align-items-center">
                <div class="flex-grow-1" style="font-size: 1rem;">
                  <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1">Feels Like: {{feelslike}}°C</span>
                  <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> Report: {{description}}
                    </span></div>
                  <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1">Humidity: {{humidity}}%</span>
                  </div>
                  
                  </div>
                </div>
                <div>
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu1.webp"
                    width="100px">
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </section>

{% endblock %}